* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(108deg, aliceblue 0%, #60BACE 100%);
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

h1,h2,h3,h4,a {
    font-family: 'Inter', 'sans-serif';
    color: #1E1E1E;
}

h3 {
    color: crimson;
}

a {
    text-decoration: none;
    color: #1E1E1E;
}

.header-right-content {
    padding: 20px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
}

#title {
    padding: 20px;
}

.error {
    margin-left: 10px;
}

.right-links {
    margin-left: 50px;
    transition-duration: 0.1s;
}
.right-links:hover {
    color: aliceblue;
}

.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-content {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.rep-column {
    background: rgba(255, 255 ,255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 400px;
    min-height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.folder-items {
    width: 80%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.file-item {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background: rgba(255, 255 ,255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition-duration: 0.2s;
}
.file-item:hover {
    box-shadow:0 0 8px #3c6271;
}

.file-name {
    margin-left: 20px;
    margin-top: 10px;
}

.start {
    background: rgba(255, 255 ,255, 0.4);
    backdrop-filter: blur(10px);
    padding: 10px 30px 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transition-duration: 0.3s;
}
.start:hover {
    background: rgba(125, 152, 183, 0.4);
}

.right-content {
    display: flex;
    flex-direction: row;
}

.file-link {
    height: 100px;
    width: 100px;
    background-color: #60BACE;
}

.download-link {
    margin: 15px;
}
.download-link:hover {
    color: aliceblue;
}

.folder-name {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
.folder-name:hover {
    background-color: #307787;
}

.folder-link {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    margin-bottom: 0;
    padding: 12px;
    border-radius: 10px;
    word-break: break-all;
    transition-duration: 0.1s;
}
.folder-link:hover {
    background-color:aliceblue
}

.file-actions {
    background-color: aliceblue;
    height: min-content;
    width: 100%;
    padding: 30px 0px 30px;
}

.remove-file-input {
    margin: 10px;
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 12px;
}


.repository {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 300px;
    background-color: #307787;
    border-radius: 40px;
    justify-content: center;
    position: relative;

    transition-duration: 0.1s;
}
.card:hover {
    box-shadow:0 0 10px #3c6271;
}

.rep-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-content {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(210, 210, 210, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 40px;
    width: 50%;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
    height: 50px;
    font-family: 'Inter', 'sans-serif';
    border: none;
    border-radius: 20px;
    padding-left: 15px;
}

.delete-icon {
    padding: 10px;
    margin-left: 5px;
    background: rgba(197, 197, 197, 0.50);
    backdrop-filter: blur(15px);
    border-radius: 10px;

    transition-duration: 0.1s;
}
.delete-icon:hover {
    background-color: aliceblue;
}

.file-submit {
    padding-left: 0;
    margin: 10px;
    height: 30px;
    width: 70px;
    padding: 0;
    border: none;
    border-radius: 8px;
}

.folder-input {
    border: none;
    border-radius: 10px;
    height: 30px;
    margin: 0;
    margin-bottom: 10px;
}