{% extends 'auth/base.html' %}

{% block content %}
    <div class="form-content">
        <form method="post" action="/token" autocomplete="off">
            <input type="text" placeholder="Username" name="name" required>
            <input type="password" placeholder="Password" name="password" required>
            <div class="error"><h3>{{ error }}</h3></div>
            <input type="submit" value="Login" id="submit">
        </form>
        <h4 style="margin: 10px;"><a href="/signup">Don't have an account?</a></h4>
    </div>
{% endblock %}